:root {
    --border-color: rgb(181, 181, 181);
    --font-size: 16px;
    --background-color: #f5f5f5;
    --error: #be2416;
    --border-radius: 8px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #323232;
    background: var(--background-color)
}

header {
    background-color: #e2e8f0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
}

.companyName {
    font-weight: 600;
    font-size: 0.8rem;
    flex: 1;
    margin-right: 38%;
    text-decoration: none;
}

.companyName .first {
    color: #64748b;
}

.companyName .second {
    color: #334155;
}

.searchBar {
    flex:1;
    background-color: rgb(245, 248, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.navBar input {
    background: transparent;
    border: none;
    align-items: center;
}

.navBar input:focus {
    outline: none;
}

.navigators {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
    margin: auto 0;
}

.navigators li {
    padding-inline: 0.8rem;
}

ul a {
    list-style: none;
    text-decoration: none;
    color: rgb(62, 71, 80);
}

.navigators li:hover {
    text-decoration: underline;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 30%;
}

.signUpForm input {
    margin: .3rem;
    border: 1.3px solid slategrey;
    font-size: var(--font-size);
    border-radius: 8px;
    padding: 1rem;
    padding-left: 20px;
}

.pageHeading {
    margin: 2rem;
    text-align: center;
}


.signUpForm button {
    border: none;
    display: block;
    margin: 4px;
    border-radius: 8px;
    padding: 1rem;
    background-color: #4d5dfb;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.5s ease-in-out;
}



#googleSignIn {
    background-color: #f5f5f5;
    color: #4d5dfb;
    padding: 1rem;
    border: 1px solid #4d5dfb;
}

#googleSignIn:hover {
    background-color: rgba(128, 123, 173, 0.171);
    color: #4d5dfb;
    padding: 1rem;
    border: 1px solid #4d5dfb;
}
.signUpForm button:hover {
    background-color: #8f08f6;
}

.signUpForm a {
    text-decoration: none;
    
}
.profileContainer {
    width: 30%;
    margin: auto;
    text-align: center;
}

.profileForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profileForm img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
}

.profileForm input {
    margin: .3rem;
    border: 1.3px solid var(--border-color);
    font-size: var(--font-size);
    border-radius: 8px;
    padding: 1rem;
    padding-left: 20px;
}

.profileForm button, .profileForm a {
    border: none;
    display: block;
    letter-spacing: 1.4px;
    margin: 4px;
    border-radius: 8px;
    padding: 1rem;
    background-color: #4d5dfb;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.5s ease-in-out;
}

.profileForm a {
    text-decoration: none;
    color: #f5f5f5;
    background-color: #210330;
}

.profileForm button:hover {
    background-color: #8f08f6;
}

.footerContainer {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
    color: #be2416;
    font-weight: 500;
}
.footerContainer span {
    cursor: pointer;
}
.footerContainer span:hover {
    text-decoration: underline;
}
.createListContainer {
    width: 40%;
    margin: auto;
}
.createListForm {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.inputContainer input, .inputContainer textarea {
    font-size: var(--font-size);
    font-weight: 500;
    border-radius: 8px;
    padding: 0.7rem;
    border: 1.5px solid var(--border-color);
}

.checkBoxContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.checkBox {
    display: flex;
    gap: .3rem;
    font-size: var(--font-size);
}
.checkBox input{
    width: var(--font-size);
}

.counterContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.counterContainer .priceInnerContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.counterContainer input {
    width: 3rem;    
}

.counterContainer label {
    font-size: var(--font-size);
}
.counter {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: var(--font-size);
}

.priceContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: var(--font-size);
}

.price {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}
.smFont {
    font-size: 14px;
}

.imgContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: start;
    flex:1;
}
.upload {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.imgInput {
    padding: .5rem;
    font-size: var(--font-size);
    font-weight: 300;
    border-radius: 8px;
    border: 1.5px solid var(--border-color);
}
#imgUploadButton {
    background-color: var(--background-color);
    border: 1.5px solid #4d5dfb;
    color: #4d5dfb;
    padding: .5rem;
    border-radius: 8px;
    font-size: var(--font-size);
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
#imgUploadButton:hover {
    box-shadow: 0.4px 0px 10px #4d5dfb;
}
.imgContainer p {
    font-size: var(--font-size);
    font-weight: 500;
}
.imgContainer span {
    font-weight: 300;
    font-size: 16px;
    color: rgb(78, 75, 75)
}

.createListForm button {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem;
    background-color: #4d5dfb;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
}
.createListForm button:disabled {
    background-color: #9aa4ff;
}

#btn-show-listing {
    background-color: var(--background-color);
    border: none;
    text-transform: uppercase;
    font-size: medium;
    color: green;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 50px;

}

.images-container {
    display: flex;
    border: 1px solid #ccc;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.images-container img {
    margin: 15px;
    border-radius: 5px;
}


.images-container button {
    box-sizing: border-box;
    background-color: var(--background-color);
    padding: 15px;
    color: var(--error);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.images-container button:hover {
    border: 1px solid var(--error);
    border-radius: 5px;
}

.item-container {
    border: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-items: start;
    align-items: center;
    padding: 10px;
    column-gap: 1rem;
    border-radius: 5px;
    margin: 15px 0px;
}

.item-container img {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
    margin: auto;
}

.item-container a {
    text-decoration: none;
    font-size: larger;
    color: #0f172a;
    font-weight: 500;
    justify-self: start;
}

.item-btn {
    display: flex;
    justify-self: end;
    flex-direction: column;
}

.item-btn button {
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.btn-delete {
    color: var(--error);
    background-color: transparent;
    border: 1px solid var(--error);
}

.btn-edit {
    color: green;
    background-color: transparent;
    border: 1px solid green;
}



@media (max-width: 500px) {
    .searchBar {
        background-color: rgb(214, 222, 231);
        padding: 10px;
        border-radius: 5px;
        margin: 15px;
        display: flex;
        width: 7rem;
    }
}