* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f5f5;
}

header {
    background-color: #e2e8f0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
}

.companyName {
    font-weight: 600;
    font-size: 0.8rem;
    flex: 1;
    margin-right: 38%;
    text-decoration: none;
}

.companyName .first {
    color: #64748b;
}

.companyName .second {
    color: #334155;
}

.searchBar {
    flex:1;
    background-color: rgb(245, 248, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.navBar input {
    background: transparent;
    border: none;
    align-items: center;
}

.navBar input:focus {
    outline: none;
}

.navigators {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
    margin: auto 0;
}

.navigators li {
    padding-inline: 0.8rem;
}

ul a {
    list-style: none;
    text-decoration: none;
    color: rgb(62, 71, 80);
}

.navigators li:hover {
    text-decoration: underline;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 30%;
}

.signUpForm input {
    margin: .3rem;
    border: 1.3px solid slategrey;
    font-size: 14px;
    border-radius: 8px;
    padding: 1rem;
    padding-left: 20px;
}

.pageHeading {
    margin: 2rem;
}


.signUpForm button {
    border: none;
    display: block;
    margin: 4px;
    border-radius: 8px;
    padding: 1rem;
    background-color: #4d5dfb;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.5s ease-in-out;
}



#googleSignIn {
    background-color: #f5f5f5;
    color: #4d5dfb;
    padding: 1rem;
    border: 1px solid #4d5dfb;
}

#googleSignIn:hover {
    background-color: rgba(128, 123, 173, 0.171);
    color: #4d5dfb;
    padding: 1rem;
    border: 1px solid #4d5dfb;
}
.signUpForm button:hover {
    background-color: #8f08f6;
}

.signUpForm a {
    text-decoration: none;
    
}
.profileContainer {
    width: 30%;
    margin: auto;
    text-align: center;
}

.profileForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profileForm img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
}

.profileForm input {
    margin: .3rem;
    border: 1.3px solid rgb(0, 0, 0);
    font-size: 14px;
    border-radius: 8px;
    padding: 1rem;
    padding-left: 20px;
}

.profileForm button {
    border: none;
    display: block;
    margin: 4px;
    border-radius: 8px;
    padding: 1rem;
    background-color: #4d5dfb;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.5s ease-in-out;
}

.profileForm button:hover {
    background-color: #8f08f6;
}

.footerContainer {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
    color: #be2416;
    font-weight: 500;
}
@media (max-width: 500px) {
    .searchBar {
        background-color: rgb(214, 222, 231);
        padding: 10px;
        border-radius: 5px;
        margin: 15px;
        display: flex;
        width: 7rem;
    }
}